﻿
@model IEnumerable<TestDare.Controllers.PlayListItem>

@{
    ViewBag.Title = "VideoList";
}


<div class="topHeader">
    <div class="title"> <h2 class="titleDecor">Video</h2> <h2 class="titleDecor titleColor">List</h2></div>
    <div class="btnDiv">
        <button class="btn-danger btnRefresh" type="submit">Refresh</button>
    </div>
</div>
<div class="mainVideoContainer">
    @foreach (var item in Model)
    {
        <div class="videoContainer">
            <div class="videoThumbnile">
                <img src="@item.ThumpnailImage" class="imgSize" />
            </div>
            <div class="videoTitle">
                <a href="@item.VideoUrl"><label>@item.Title</label></a>
            </div>


        </div>
    }

</div>