﻿@using System.Configuration
@using System.Xml


@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    // Getting List Of Videos from Umbraco

    var videosList = Model.Content.Descendants();
}

<link rel="stylesheet" type="text/css" href="~/css/videolist.css" />



<!-- Top menu -->
<div class="w3-top">
    <div class="w3-white w3-xlarge topmenuWidth">

        <div class="w3-center w3-padding-16">Amazing Videos</div>
    </div>
</div>



<div class="w3-main w3-content w3-padding mainContainerWidth">

    <a href='/videolist' class="GFG">
        Refresh
    </a>
    <div class="w3-row-padding w3-padding-16 w3-center">

        @foreach (IPublishedContent item in videosList)
        {

            string thumbnailImageUrl = string.Empty;
            string videoUrl = string.Empty;
            string title = string.Empty;
            if (item.HasValue("VideoDescription"))
            {
                title = Convert.ToString(item.Value("VideoDescription"));

            }

            if (item.HasValue("VideoThumbnail"))
            {
                thumbnailImageUrl = Convert.ToString(item.Value("VideoThumbnail"));
            }

            if (item.HasValue("VideoUrl"))
            {
                videoUrl = Convert.ToString(item.Value("VideoUrl"));
            }




            <div class="w3-quarter">
                <img src="@thumbnailImageUrl" alt="Sandwich" class="componentWidth">
                <a href="@videoUrl"><h3 class="truncate">@title</h3></a>

            </div>

            }

    </div>

</div>




